/* :root {
  
  --primary-text-color: #757575;
  --title-text-collor: #212121;
  --accent-color: #2196f3;
  --accent-wht-collor: #ffffff;
  --accent-blck-color: #000000;
  --accent-footer-color: rgba(255, 255, 255, 0.6);
  --background-color: #f5f4fa;
  --background-accent-color: #2f303a;
  --background-hero-color: rgba(47, 48, 58, 0.4);
  --background-social-link-footer: rgba(255, 255, 255, 0.1);
  --link-background: #afb1b8;

  --standart-go-over: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .main {
  background-color: var(--accent-wht-collor);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  margin: 0;
} */

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}
button {
  cursor: pointer;
}
a {
  display: inline-block;
} */

/* .container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
} */

/* .header {
  display: flex;
  border-bottom: 1px solid #ececec;
} */
/* налаштування логотипу */
/* .logo {
  display: block;
  padding: 24px 0;
  margin-right: 93px;

  color: var(--accent-blck-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
} */
/* .accent {
  color: var(--accent-color);
} */
/* 
.header-container,
.header-nav,
.header-list {
  display: flex;
} */

/* .auth {
  display: flex;
} */
/* .header-auth {
  display: flex;
  margin-left: auto;
} */
/* .auth-img {
  display: flex;
  justify-content: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
} */
/* .auth-img.phone {
  width: 10px;
  height: 16px;
} */
/* .auth-item {
  display: flex;
  justify-content: center;
  align-content: center;
} */
/* .nav-item:not(:last-child),
.auth-item:not(:last-child) {
  margin-right: 50px;
} */
/* .header-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  fill: var(--link-background);
} */
/* .link {
  display: block;
  padding: 32px 0;

  text-decoration: none;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: var(--standart-go-over);
}
.nav {
  color: var(--title-text-collor);
} */
/* .auth {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
} */
/* .link:hover,
.link:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);

  position: relative;
} */
/* .nav.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;

  position: absolute;
  bottom: -1px;
} */

/* .link.auth:hover,
.link.auth:focus {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
} */

/* налаштування блоку герой */
/* .hero {
  height: 600px;
  max-width: 1600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/no-content/hero.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  letter-spacing: 0.06em;

  padding: 0;
  margin: 0 auto;
} */
/* .hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
} */
/* .hero-title {
  color: var(--accent-wht-collor);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  padding: 0;
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
} */
/* .hero-button {
  color: var(--accent-wht-collor);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  border: solid transparent;
  transition: var(--standart-go-over);
} */
/* .hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--accent-wht-collor);
  outline-color: var(--accent-color);
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */
/* налаштування переваг */
/* .section-advantages.section {
  padding-bottom: 0px;
} */
/* .advantages-list {
  display: flex;
  gap: 10px;
} */
/* .advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;

  fill: var(--link-background);
} */
/* .advantages-list {
  display: flex;
  justify-content: space-between;
} */
/* .advantages-item {
  width: 270px;
} */
/* .advantages-title {
  color: var(--title-text-collor);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
} */
/* .advantages-img {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-color);
  border-radius: 4px;
  margin-bottom: 30px;
} */
/* .advantages-text {
  font-weight: 400;
  line-height: 1.71;
} */
/* .work-item {
  position: relative;
} */
/* налаштування прикладів робіт */
/* .section-work {
  padding-top: 94px;
} */
/* .work-list {
  display: flex;
  justify-content: space-between;
} */
/* .work-title,
.team-title {
  color: var(--title-text-collor);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
} */
/* .team-list {
  display: flex;
  justify-content: space-between;
} */
/* .work-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;

  background-color: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: var(--accent-wht-collor);
} */
/* .section-team {
  background-color: var(--background-color);
  min-height: 648px;
} */

/* налаштування команди */
/* .team-deskription {
  padding: 30px 32px;
} */
/* .team-item {
  min-height: 368px;
  width: 270px;
  background-color: var(--accent-wht-collor);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */
/* .team-name {
  text-align: center;
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
} */

/* .team-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
} */

/* .social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: none;
  transition: var(--standart-go-over);
} */
/* .social-list {
  display: flex;
  gap: 10px;
} */
/* .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  fill: var(--link-background);
  transition: var(--standart-go-over);
} */
/* .social-link:focus .social-icon {
  fill: var(--accent-wht-collor);
}

.social-link:hover .social-icon {
  fill: var(--accent-wht-collor);
}
.social-link:focus {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
}
.social-link:hover {
  background-color: var(--accent-color);
} */

./* partners-title {
  color: var(--title-text-collor);
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;

  margin-bottom: 50px;
} */

/* .partners-list {
  display: flex;
  gap: 30px;
} */
/* .partners-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: var(--standart-go-over);
} */
/* .partners-icon {
  fill: var(--link-background);
  transition: var(--standart-go-over);
}
 */
/* .partners-img:focus .partners-icon {
  fill: var(--accent-color);
} */
/* .partners-img:hover .partners-icon {
  fill: var(--accent-color);
} */
/* .partners-img:focus {
  border: 1px solid var(--accent-color);
  outline-color: var(--accent-color);
} */
/* .partners-img:hover {
  border: 1px solid var(--accent-color);
} */
/* налаштування сторінки портфоліо */
/* .examples-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
} */
/* .examples-title {
  color: var(--title-text-collor);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.examples-text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
} */

/* налаштування кнопок портфоліо */
/* .button-secondary {
  color: var(--title-text-collor);
  background-color: var(--background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
  border-radius: 4px;
  min-height: 38px;
  border: solid transparent;

  transition: var(--standart-go-over);
} */
/* .examples-button-list .examples-button:not(:last-child) {
  margin-right: 8px;
} */
/* .button-secondary:hover,
.button-secondary:focus {
  color: var(--accent-wht-collor);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline-color: var(--accent-color);
} */

/* .examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
} */
/* .examples-item {
  width: 370px;
  border: 1px solid #eeeeee;

  transition: var(--standart-go-over);
} */
/* .examples-img-deskription {
  overflow: hidden;
  width: 370px;
  height: 294px;
  position: relative;
} */
/* .examples-deskription {
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 24px;
  margin-bottom: 110px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  color: var(--accent-wht-collor);
} */
/* .examples-item:hover,
.examples-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline-color: var(--accent-color);
} */
/* .examples-item:hover .examples-deskription {
  transform: translateY(-294px);
}
.examples-item:focus .examples-deskription {
  transform: translateY(-294px);
} */
/* .examples-card-text {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
} */

/* загальні налаштування футера */
/* footer {
  background-color: var(--background-accent-color);
} */
/* .footer-container {
  display: flex;
  gap: 70px;
} */
/* .footer-adr {
  width: 231px;
} */
/* .logo-footer {
  color: var(--accent-wht-collor);
  padding-top: 60px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-right: 0;
} */
/* .link-gmaps {
  color: var(--accent-wht-collor);

  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 9px;
} */
/* .link-address {
  color: var(--accent-footer-color);

  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 9px;

  transition: var(--standart-go-over);
} */
/* .link-address.last {
  margin-bottom: 0;
} */
/* .link-address:hover,
.link-address:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
} */
/* .footer-list {
  padding-bottom: 60px;
} */

/* .footer-social {
  margin-top: 72px;
} */
/* .social-title {
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--accent-wht-collor);
  margin-bottom: 20px;
} */

/* .social-item.dark {
  background-color: var(--background-social-link-footer);
  border-radius: 50%;
  width: 44px;
  height: 44px;
} */
/* .social-item .footer-icon {
  fill: var(--accent-wht-collor);
} */

/* .button-secondary.current {
  color: var(--accent-wht-collor);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .footer-subskribe {
  margin-top: 72px;
} */
/* .email-title {
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--accent-wht-collor);
} */
/* .footer-form {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 12px;

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
}
 */
/* .footer-email::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);

  color: rgba(255, 255, 255, 0.6);
} */

/* .footer-email {
  padding: 15px 16px;

  font-size: 16px;
  line-height: calc(20 / 16);

  color: var(--accent-wht-collor);
} */
/* .subskribe-button {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: solid transparent;

  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  right: 0;

  color: var(--accent-wht-collor);
} */
/* .footer-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-accent-color);
} */
/* .send-icon {
  width: 24px;
  height: 24px;
  fill: var(--accent-wht-collor);
} */
/* ModaL */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1), opacity(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;
  text-align: center;

  background-color: var(--accent-wht-collor);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
} */
/* .close-icon {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--standart-go-over);
} */

/* .close-button {
  width: 11px;
  height: 11px;
} */
/* .close-icon:focus {
  fill: var(--accent-color);
}
.close-icon:hover {
  fill: var(--accent-color);
} */
/* .is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1), opacity(0.1);
} */
/* .modal-title {
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;

  margin-bottom: 12px;

  color: var(--title-text-collor);
} */

/* .form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  margin-bottom: 10px;
  text-align: left;
  transition: var(--standart-go-over);
}
 */
/* .form-item label {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
  max-height: 138px;
} */

/* .form-box {
  width: 100%;
  margin: 0;
  padding: 10px 12px 10px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.01em;

  color: var(--title-text-collor);

  transition: var(--standart-go-over);
} */
/* .form-coment::placeholder {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
} */
/* .form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: var(--standart-go-over);
} */
/* .form-coment {
  padding: 12px 16px;
  margin: 0;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.01em;

  color: var(--title-text-collor);
  transition: var(--standart-go-over);
} */

/* .form-box:focus {
  outline-color: var(--accent-color);
  outline: 1px;
  border: 1px solid var(--accent-color);
} */

/* .form-input:focus-within {
  fill: var(--accent-color);
} */
/* .form-coment {
  resize: none;
}
.form-coment:focus {
  outline-color: var(--accent-color);
  outline: 1px;
  border: 1px solid var(--accent-color);
} */
/* 
.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-text-color);
  margin: 20px auto 30px;
}
.user-terms {
  color: var(--accent-color);
}
.checkbox {
  appearance: none;
  position: absolute;
}
.icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--accent-blck-color);
  border-radius: 2.5px;
  transition: var(--standart-go-over);
}
.checkbox:checked + .icon-check {
  background-color: #2196f3;
  background-image: url(../images/no-content/svgor/check.svg);
  background-size: cover;
  background-origin: border-box;
  border-color: transparent;
}

.modal-send-button {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  max-height: 50px;
  border: solid transparent;
  transition: var(--standart-go-over);

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--accent-wht-collor);
  background-color: var(--accent-color);
} */

/* .visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
